@model ErrorViewModel
<link href="~/css/ErrorPage.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Error";
}

<link href="~/css/masthead.css" rel="stylesheet" />
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
</header>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="error-header"> </div>
<div class="container ">
    <section class="error-container text-center">
        @*<h1>404</h1>
        <br />*@
        <div class="error-divider">

            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <a asp-controller="Home" asp-action="Index" class="return-btn"><i class="fa fa-home"></i>Home</a>

        </div>
    </section>
</div>
